.git
.gradle
.idea
build
gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
master.iml
settings.gradle
app/build
app/lib
app/.gitignore.rej
app/app.iml
app/build.gradle
app/build.gradle.rej
app/proguard-rules.pro